.page {
  --paddingX: 3.75rem;
  --paddingY: 7.5rem;

  font-family: var(--font-labrada-regular);
  font-weight: 300;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  color: var(--text-primary);
}

.main {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  background-color: var(--background);
}

.leftPanel {
  min-width: var(--left-panel-max-width);
  max-width: var(--left-panel-max-width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--paddingY) var(--paddingX);
}

.rightPanel {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}
